<div class="landing-page-container" fxLayout="column">
    <h3>Tes project for 42 Cofee Cups </h3>
    <h4>About the author: Mihai Leagu (mleagu) python/javascript full-stack developer</h4>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <button  md-raised-button color="primary">Faceboock</button>
        <button  md-raised-button color="accent">Other Action </button>
        <button   md-raised-button color="warn">Other Action </button>
    </div>
    <!--<md-tab-group>-->
        <!--<md-tab label="All Bets">-->
            <!--<div class="layout-column create-bet-container">-->
                <!--<div class="layout-row layout-align-end-center">-->
                    <!--<button *ngIf="!createNew" (click)="createNew = true" class="no-outline add-button"> + </button>-->
                <!--</div>-->
                <!--<div class="layout-column add-bet-container" *ngIf="createNew">-->
                    <!--<md-input class="custom-label-underline" type="text" placeholder="title"></md-input>-->
                    <!--<md-input type="text" placeholder="full description"></md-input>-->
                    <!--<div class="layout-row layout-align-end-center">-->
                        <!--<button (click)="addNewBet()" md-raised-button color="primary">Add</button>-->
                        <!--<button (click)="createNew = false" md-raised-button color="accent">Cancel</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div *ngFor="let bet of betsList" class="list-item-container layout-row layout-align-start-center">-->
               <!--<img class="icon-m" src="../../../assets/fotbal-icon.png" alt="...">-->
                <!--<div class="list-text-container flex layout-row layout-align-space-between-center">-->
                    <!--<div>-->
                        <!--<h5 class="no-margin"> {{ bet.title }} </h5>-->
                        <!--<h6 class="no-margin">-->
                          <!--<span> Max gain {{ bet.amount }} </span>-->
                        <!--</h6>-->
                    <!--</div>-->
                    <!--<div class="layout-row">-->
                        <!--<img class="icon-m" src="../../../assets/favorite.png" alt="...">-->
                        <!--<p class="no-margin">Bet</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


        <!--</md-tab>-->
        <!--<md-tab label="Favorites">-->

            <!--<h1>Some more tab content</h1>-->
            <!--<p>...</p>-->
        <!--</md-tab>-->
        <!--<md-tab label="My Bets">-->

            <!--<h1>Some more tab content</h1>-->
            <!--<p>...</p>-->
        <!--</md-tab>-->
    <!--</md-tab-group>-->

</div>